.btn {
  border: 1px solid transparent;
  line-height: 32px;
  border-radius: 5px;
  cursor: pointer;

  &__primary {
    background: #2C76DC;
    border-color:#2C76DC;
    color: #FFFFFF;
  }

  &__primaryInverse {
    background: #FFFFFF;
    border-color:#FFFFFF;
    color:  #2C76DC;
  }
}