.dropdown {
  display: inline-flex;
  width: 90px;
  background-color: #FFFFFF;
  height: 32px;
  padding: 0 16px;
  border: 1px solid #939FB1;
  border-radius: 5px;
  box-sizing: border-box;
  color: #1D2A3C;

  &__boxStatus_danger {
    border: 1px solid #FF0000;
  }

  &__boxStatus_sucess {
    border: 1px solid #00FF00;
  }

  &__boxStatus_none {
    border: 1px solid #939FB1;
  }
}